<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EBookMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EBookMan.Properties.Settings.booksConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\books.mdb;Persist Security Info=True;Jet OLEDB:Database Password=BookMan"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <EBookMan.Properties.Settings>
            <setting name="DbRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="CompressFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompressableFiles" serializeAs="String">
                <value>*.txt;*.pdf;*.fb2;*.html;*.htm;*.doc;*.rtf</value>
            </setting>
        </EBookMan.Properties.Settings>
    </userSettings>
</configuration>