<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EBookMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EBookMan.Properties.Settings>
            <setting name="Viewer" serializeAs="String">
                <value>42cd58e7-f2c8-4ce4-80e1-229eb3bca363</value>
            </setting>
        </EBookMan.Properties.Settings>
    </userSettings>
</configuration>